@import (reference) "../../common.less";
// ----------------------------------------------------------------------------- CONFIG

//Component name
@COMPONENT: CpuLoadGraph;
.CpuLoadGraph
{
// ----------------------------------------------------------------------------- BLOCK

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;


// ----------------------------------------------------------------------------- ELEMENTS
  &_settingsTitle
  {
    font-family: monospace;
  }

  &_settings
  {
    display: flex;
    flex-wrap: wrap;

    .SwitchButton{
      margin-right: 15px;
    }

  }

  &_cpuLoadSetting
  {
    margin-top: 15px;
    width: 100%;
  }

  &_cpuLoadSettingInput
  {
    border-radius: 10px;
    box-shadow: none;
    border: 3px solid @cpuLineColor;
    padding: 3px;
  }

  &_cpuLoadSettingLabel
  {
    font-family: monospace;
    margin-left: 12px;
  }

  &_currentAverage
  {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &_currentAverageValue
  {
    border-bottom: solid;
  }

  &_mainBoard
  {
    font-family: monospace;
    padding: 9px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  &_alertList
  {
    display: flex;
    flex-direction: row;
  }

}



// ----------------------------------------------------------------------------- MODIFIERS


// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

